@charset "UTF-8";
/*
orden de cosas:
selector {
    propiedad: valor
}

Orden de selectores:
1. !important
2. Inline styles
3. #id
4. .class
5. tag
*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  size: 100vw;
  font-family: "barlow condensed", sans-serif;
}

/*declaraciones generales*/
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 20px;
}

img {
  max-width: 40%;
}

.body {
  background: #111;
  color: white;
}

/*header*/
.navbar {
  background-color: black;
  min-height: 100px;
  padding: 24px 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar_titulo {
  /*h1*/
  color: #4CAF50;
  font-size: 80px;
  text-align: left;
  font-weight: bold;
  background-image: linear-gradient(#d716c1, #4CAF50);
  background-clip: text;
  color: transparent;
}
.navbar_list {
  /*nav bar estilos*/
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.navbar_list a {
  color: #e278d6;
  font-size: 24px;
}

/*primera caja de texto*/
.justifyCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 48px;
  background-image: linear-gradient(transparent, white), url(../img/pared-colores.jpg);
  background-size: cover;
  height: 80vh;
}

#presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 48px;
  background-image: linear-gradient(transparent, white), url(../img/pared-colores.jpg);
  background-size: cover;
  height: auto;
}

.tituloCuerpo {
  color: #8f1280;
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.p1 {
  color: rgba(25, 25, 25, 0.959);
  justify-content: center;
  text-align: center;
  max-width: 80%;
}

/*segunda caja de texto*/
.cuerpo2 {
  background-color: rgb(0, 0, 0);
  min-height: 100px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.cuerpo2 .tituloCuerpo {
  color: #8f1280;
  font-size: 40px;
  justify-content: center;
  text-align: center;
}

.tarjetaMusica {
  color: rgba(255, 255, 255, 0.683);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*contenedor tarjetas*/
.contenedorTarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

/*contenedor de canciones sobre mí*/
#cancionesFavoritas .contenedorTarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

/*videos*/
.videos {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/*componentes*/
.botonfondonegro {
  color: #8f1280;
  border: 2px solid #8f1280;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 16px;
  justify-content: center;
  text-align: center;
  align-self: center;
}

.botonfondoblanco {
  color: #8f1280;
  border: 2px solid #8f1280;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 16px;
  justify-content: center;
  text-align: center;
  align-self: center;
}

.pie {
  background-color: black;
  min-height: 100px;
  padding: 24px 36px;
  gap: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pie .boton-wpp {
  color: #15d366;
  font-size: 36px;
}
.pie .boton-ig {
  color: #fe0b81;
  font-size: 36px;
}
.pie .boton-email {
  color: #f2a60c;
  font-size: 36px;
}
.pie .boton-tw {
  color: #1DA1F2;
  font-size: 36px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /*#cancionesFavoritas */
  .contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
  #cancionesFavoritas .contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 24;
  }
  .navbar .navbar_ordenador {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
  }
  .navbar .navbar_titulo {
    font-size: 32px;
  }
  .navbar .navbar_list a {
    font-size: 12px;
  }
  .contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
  #cancionesFavoritas .contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
