/*
orden de cosas:
selector {
    propiedad: valor
}

Orden de selectores:
1. !important
2. Inline styles
3. #id
4. .class
5. tag
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    size: 100vw;
    font-family: "barlow condensed", sans-serif;
}

/*declaraciones generales*/

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 64px;
}

p {
    font-size: 20px;
}

img {
    max-width: 60%;
}

/*header*/

.header {
    background-color: black;
    min-height: 100px;
    padding: 24px 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.body {
    background: #111;
    color: white;
}


.titulo {
    /*h1*/
    color: #4CAF50;
    font-size: 80px;
    text-align: left;
    font-weight: bold;
    background-image: linear-gradient(#d716c1, #4CAF50);
    background-clip: text;
    color: transparent;
}

.menuSuperior a {
    /*nav bar estilos*/
    color: #e278d6;
    font-size: 24px;
}

.menuSuperior ul {
    /*nav bar estilos*/
    display: flex;
    flex-direction: row;
    gap: 24px;
}


/*primera caja texto*/

.tituloCuerpo {
    color: #8f1280;
    font-size: 40px;
    justify-content: center;
    text-align: center;
}

.p1 {
    color: rgba(25, 25, 25, 0.959);
    justify-content: center;
    text-align: center;
    max-width: 80%;
}


/*segunda caja texto*/
.cuerpo2 {
    background-color: rgb(0, 0, 0);
    min-height: 100px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cajaflexCuerpo2 {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.contenedorTarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cancionesFavoritas .contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.tarjetaMusica {
    color: rgba(255, 255, 255, 0.683);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#publicacionesGente .contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.tarjetaPublica {
    color: rgba(255, 255, 255, 0.683);
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.justifyCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 48px;

}

/*imágenes*/


#presentacion {
    background-image: linear-gradient(transparent, white), url(../img/pared-colores.jpg);
    background-size: cover;
    height: auto;
}

#grunge {
    background: linear-gradient(transparent, white), url(../img/pared-colores.jpg);
    background-size: cover;
    height: 80vh;
}

#formulariopublicar {
    background: linear-gradient(transparent, white), url(../img/pared-colores.jpg);
    background-size: cover;
    height: 80vh;
}

#buscarbanda {
    background: linear-gradient(transparent, white), url(../img/pared-colores.jpg);
    background-size: cover;
    height: 80vh;
}

#formulariocontacto {
    background: linear-gradient(transparent, white), url(../img/pared-colores.jpg);
    background-size: cover;
    height: 80vh;
}

#quieresopinar {
    background: linear-gradient(transparent, white), url(../img/pared-colores.jpg);
    background-size: cover;
    height: auto;
}



/*videos*/
.videos {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/*componentes*/

.botonfondonegro {
    color: #8f1280;
    border: 2px solid #8f1280;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.botonfondoblanco {
    color: #8f1280;
    border: 2px solid #8f1280;
    font-size: 16px;
    padding: 8px 10px;
    border-radius: 16px;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.pie {
    background-color: black;
    min-height: 100px;
    padding: 24px 36px;
    gap: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.contacto {
    display: flex;
    gap: 48px;
}

.boton-wpp {
    color: #15d366;
    font-size: 36px;
}

.boton-ig {
    color: #fe0b81;
    font-size: 36px;
}

.boton-email {
    color: #f2a60c;
    font-size: 36px;
}

.boton-tw {
    color: #1DA1F2;
    font-size: 36px;
}

@media (min-width:768px) and (max-width:1024px) {
    #cancionesFavoritas .contenedorTarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
}

@media (max-width:767px) {
    .header {
        display: flex;
        flex-direction: column;
        gap: 24;
    }

    .header h1 {
        font-size: 32px;
    }

    .listamenu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menuSuperior a {
        font-size: 12px;
    }

    .cajaflexCuerpo2 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    #cancionesFavoritas .contenedorTarjetas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}